server/.idea/*
server/.gradle/*
server/build/*
/client/XamarinApp/XamarinApp/obj
/client/XamarinApp/XamarinApp/bin
/client/XamarinApp/.vs/XamarinApp/v15
*.class
/client/XamarinApp/XamarinApp/AppPackages
/client/XamarinApp/XamarinApp/BundleArtifacts
/client/XamarinApp/XamarinApp/BundleArtifacts
/client/CannaCare/CannaCare/CannaCare.UWP/bin
/client/CannaCare/CannaCare/CannaCare.UWP/obj
/client/CannaCare/CannaCare/CannaCare/bin/Release/netstandard2.0
/client/CannaCare/CannaCare/CannaCare/obj
/client/CannaCare/.vs/CannaCare/v15
/client/CannaCare
/client/CannaBe/CannaBe/AppPackages
/client/CannaBe/CannaBe/bin
/client/CannaBe/CannaBe/BundleArtifacts
/client/CannaBe/CannaBe/obj
/client/XamarinApp_old/XamarinApp/AppPackages
/client/CannaBe/.vs/CannaBe/v15
/client/XamarinApp_old/.vs
/client/XamarinApp_old/XamarinApp/BundleArtifacts
server/out/*
.idea/*
server/gradle/wrapper/gradle-wrapper.properties

